extends layout

block content
  h1= title
  if errors.length > 0
    ul(class="errors")
      each error in errors
        li= error

  form(id="frmProject", method="post", action="")
    p Project owner: #{userName}
    input(type="hidden", name="userid", id="userid", value="#{userid}")
    input(type="hidden", name="projectID", id="projectID", value="#{projectID}")
    label(for="projectName") Project name
    input(type="text", name="projectName", id="projectName", value="#{projectName}")
    br
    input(type="submit", value="#{buttonText}")
