extends layout

block content
  h1= title
  form(id="frmProject", method="post", action="")
    p Project owner: #{userName}
    input(type="hidden", name="userid", id="userid", value="#{userid}")
    input(type="hidden", name="projectID", id="projectID", value="#{projectID}")
    label(for="projectName") Project name
    input(type="text", name="projectName", id="projectName", value="#{projectName}")
    br
    label(for="tasks") Tasks
    textarea(name="tasks", id="tasks") #{tasks}
    br
    input(type="submit", value="#{buttonText}")
